<div class="container">
	<div class="projectsTitle well well-sm">
		<h2>My {{course}} Projects</h2>
		<p> {{projectsIntro}} </p>
	</div>

	<div class="well well-sm" ng-repeat="project in projects[0]">
		<div class="row">
			<div class="col-sm-6">
				<image src="{{project.image}}" class="projectImg"></image>
			</div>
		<div class="col-sm-6">
			<h2>{{project.Title}}</h2>
			<p>Click to View the <a href="{{project.SiteURL}}">{{project.Title}} Site</a></p>
			<p>{{project.Description}}</p>
		</div>
	</div>

</div>